html {
  background-color: black;
  height: 100%;
  width: 100%;
}

h1 {

  color: white;
}

#searchInput {

  text-align: center;
  height: 30px;
  width: 200px;
  border-radius: 10px;
}

body {

  color: white;
  font: bold;
}

#heroImageContainer {
}